/****************/
/**** HEADER ****/
/****************/

.header {
	padding: 22px;

	&__inner {
		display: flex;
	}

	&__primary,
	&__secondary {
		width: 50%;
	}

	&__secondary {
		display: flex;
		justify-content: end;
		align-items: center;
	}

	&__location-text {
		font-weight: 700;
	}
}

/*****************/
/** NAVIGATIONN **/
/*****************/

.navigation {
	&__list {
		display: flex;

		li + li {
			margin-left: 30px;
		}

		& a {
			color: #000;
			cursor: pointer;
			text-decoration: none;
			font-size: 10px;
		}
	}
}

.navigation--footer {
	a {
		color: #FBFCFD;
	}
}
